# Programming Project

Introduction

In this project I will: 
1. Choose a real-world phenomenon that can be measured and for which I could collect at least one-hundred data points across at least four diï¬€erent variables.
2. Investigate the types of variables involved, their likely distributions, and their relationships with each other.   
3. Simulate a data set as closely matching their properties as possible. 
4. Detail my research and implement the simulation in this Jupyter notebook.

research - https://www.altexsoft.com/blog/datascience/preparing-your-dataset-for-machine-learning-8-basic-techniques-that-make-your-data-better/

In this excercise I will create a dataset that will show which months is most affordable to buy shoes.
I decided to do this dataset baased on the research I found.

From "name of the website" i found that from:
- January to March Sandals are 20% cheaper
- April to August Boots are 55% cheaper
- September to October High Heels are 20% chepear 
- November to December Runners are 40% chepear

This helped me to estimate the price of the types of shoes during those months taking into condsideration that average prize spend of shoes are 75%.

Then I decided to add a column of size available during those months. The constrains I gaev this columns is that during the months were the shoes are chepear the most popular size of shoe is not available (38).  

I am going to look at it from the perspective that I need to build the final picture and then work towards it.

by analyizng informaiton of shoes can I determine the most wanted types of shoe.

In [2]:
#Libraries
#DataFrames in Python come with the Pandas library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.DataFrame(np.random.randn(10, 4), columns=list('abcd')) #expolring code that can be used for my datset
data #columns=list only generates 4 columns
#and random.randn is not a function I want

          a         b         c         d
0 -0.110018  0.063628 -0.118991 -0.225469
1  0.693351  0.628941 -2.069073  0.839849
2  0.913133  0.198600  0.329340 -1.237339
3 -0.441104 -0.102607  2.702669 -0.552212
4 -0.048033  0.453243  0.661587  0.849263
5 -0.979329  1.018013 -1.268220 -0.580942
6  1.698589 -0.587325 -2.003310 -0.960036
7 -1.176756  0.863945  0.864655  0.290732
8 -0.521016 -0.657730 -0.530595  0.157900
9  0.609331  1.954431 -0.458544 -0.029217

In [4]:
data = pd.DataFrame(np.random.randint(0,100,size=(10, 4)), columns=list('ABCD')) #randint accepts the size
# creates an output array of size (10,4) with random integer elements between (0,100)
data #still not exactly what I am looking for.
# I want each column to be named differently and have still relative data within its true range

    A   B   C   D
0  17  66  18   2
1  20  70  19   4
2  30  90  38  41
3  35  44  77  21
4  36  45  43  30
5  57  56  67  36
6  39  28  99  92
7  54  53  63  80
8  46  50  89  33
9   2  50  70  95

In [5]:
data = pd.DataFrame(np.random.randint(0,100,size=(10, 6)), columns=list('ABCDEF'))
data # more columns by increaing the size

    A   B   C   D   E   F
0  38  52  87  11  51  87
1  83  16  13  90  80  30
2   6  35  32  20  44  62
3  16  70  15  14   0  95
4  79  27  17  79  93  37
5  51  34  62  74   6  25
6  75  78  24  96   1  75
7   8  91  59  25  57  93
8  84  61  38  38  83  32
9  54  36  87  98  16  77

In [28]:
# now I want to name the columns
data = pd.DataFrame(np.random.randint(0,100,size=(10, 5)), columns=('shoe size','shoe type','months','brand', 'prize'))
data # what we have here is randomly generated numbers between 0 to 100
# Here we have 100 data points and 4 variables
# This is not exactly what I am looking for
# I think we need more numerical values and I need to define what I am lookign for.

   shoe size  shoe type  months  brand  prize
0          3         15      44     10      3
1         59         91      35     53     78
2         84         19      67      1     18
3         43          0      50     64     94
4         25         35      67     59     25
5         91         84      37     42     48
6         88         56       7     76     92
7         46         80      81     35     73
8         53         60      91     30     79
9         82          7      25     78     20

In [10]:
#Data will be randomly generated once teh code is ran so we can also seed it to have one dataset:
np.random.seed(100)
#Im going to focus on fist column first 'shoe size'
#As this is women size it starts from 35 to 42
#this is defining them at random but maybe i should set them from 35 to 43 
#this way I have a defined that size matters on the price and type?
dataseed = pd.DataFrame({"shoe_size": np.random.randint(35,43,100)}) 
#this generated random numbers between sizes 42 to 43[seeded]
#between smallest size of shoe 35 and largest 42.
dataseed.tail(10) #shows last 10 data points and to show the first 10 data .head

    shoe_size
90         38
91         40
92         41
93         35
94         40
95         36
96         39
97         37
98         38
99         41

In [11]:
#Im going to use randomly generated data for this Dataset:
data = pd.DataFrame({"shoe_size": np.random.randint(35,43,100)})

In [21]:
#Now I want to focus on the shoe type, this code will have to generate four different shoe types
#the shoe types I choosed is runners, sandals, high heels adn boots.
types = ['runners', 'sandals', 'boots', 'high_heels']

data = pd.DataFrame({"shoe_size": np.random.randint(35,43,100), "shoe_type": np.random.shuffle(types)})
data.head(10)
#I received an error on shoe_type
#I believe it is because the amount of times has to be identified and shuffle is not a correct function 
#random.shuffle

   shoe_size shoe_type
0         38      None
1         42      None
2         37      None
3         42      None
4         39      None
5         42      None
6         38      None
7         41      None
8         37      None
9         42      None

In [26]:
data = pd.DataFrame({"shoe_size": np.random.randint(35,43,100), "shoe_type": np.random.choice(types, 100)})
data.head(20)
#I used random choice as it allows multiple elements from a sequence with replacement (duplicates are possible)

    shoe_size   shoe_type
0          36       boots
1          41     sandals
2          36     sandals
3          35     runners
4          39       boots
5          40     sandals
6          35     sandals
7          37  high_heels
8          41     sandals
9          38  high_heels
10         41     runners
11         38     sandals
12         41     sandals
13         39  high_heels
14         35     runners
15         41     sandals
16         35  high_heels
17         41     runners
18         40       boots
19         37     runners

As I am concentrating on middle class range of shoes I checked a website called [Topshop](http://eu.topshop.com/en/tseu/category/shoes-485095/N-a2eZdgf?No=0&Nrpp=20&siteId=%2F13058&Nf=nowPrice%7CBTWN%2B5%2B195) which sells shoes and the prices vary from 5 euro to 195 euro. That is the range I will allocate for my shoes before the discount.

In [31]:
#randomly allocating a range of numbers between 5 euro and 195 euro.
dataprice = pd.DataFrame({"original_price": np.random.randint(5,195,100)}) 
dataprice.head(15)

    original_price
0              179
1              130
2              112
3               33
4               12
5               35
6              194
7               93
8              155
9              150
10             127
11              89
12               7
13              44
14              50

In [33]:
#now lets put it into the draft dataset:
data = pd.DataFrame({"shoe_size": np.random.randint(35,43,100), 
                     "shoe_type": np.random.choice(types, 100), "original_price": np.random.randint(5,195,100)})
data.head(20)

    shoe_size   shoe_type  original_price
0          35     runners              60
1          35  high_heels              91
2          37     runners             113
3          42  high_heels              48
4          38     runners             101
5          40     runners             167
6          40  high_heels             140
7          41  high_heels             127
8          36       boots             186
9          42       boots             138
10         39       boots               6
11         41     runners              41
12         39     sandals               5
13         36       boots              27
14         37  high_heels             160
15         42     runners             110
16         41     runners             181
17         42       boots              49
18         40  high_heels              71
19         37       boots             123

ValueError: If using all scalar values, you must pass an index

http://pandas.pydata.org/pandas-docs/version/0.15/10min.html
https://www.youtube.com/watch?v=RlbO27N3Xg4

In [ ]:
https://www.shanelynn.ie/using-pandas-dataframe-creating-editing-viewing-data-in-python/

Remember, describe() method computes summary statistics of integer / double variables. To get the complete information about the data set, we can use info() function.

maybe add the price when your doing the analysis?

after you build it and when your making analyis you can use whats in this video
https://www.youtube.com/watch?v=F6kmIpWWEdU 
minute 13.0 just to show you only sizes ..

In [ ]:
mean of sizes
df['mean'] = df.mean(axis=1)

average price rage taken from website TOPSHOP http://eu.topshop.com/?geoip=home

pandas 
https://jeffdelaney.me/blog/useful-snippets-in-pandas/?fbclid=IwAR1RuqrP6AJowm6fAQJsCPqwtx1yg77e4drirjw8eEnKdBNpFMf5aDK_UPs