# Programming Project

Introduction

In this project I will: 
1. Choose a real-world phenomenon that can be measured and for which I could collect at least one-hundred data points across at least four diï¬€erent variables.
2. Investigate the types of variables involved, their likely distributions, and their relationships with each other.   
3. Simulate a data set as closely matching their properties as possible. 
4. Detail my research and implement the simulation in this Jupyter notebook.

I am going to concentrate on Shoes as a real world phenomenon. 
I am going to look at it from the perspective that I need to build the final picture and then work towards it.

by analyizng informaiton of shoes can I determine the most wanted types of shoe.

In [81]:
#Libraries
import numpy as np
import pandas as pd

In [82]:
df = pd.DataFrame(np.random.randn(10, 4), columns=list('abcf')) #expolring code that can be used for my datset
df #columns=list only generates 4 columns
#and random.randn is not a function I want

          a         b         c         f
0 -0.427113  0.339067 -0.455890  1.262480
1 -0.173547 -1.381535  1.118049  0.510217
2 -1.419202 -1.344603  0.403204  1.059854
3 -1.244219  0.480756 -0.851051 -0.037101
4 -0.170865 -0.472646 -1.764787 -0.441571
5  0.656869  1.092257  0.844994  0.290555
6 -1.184914 -1.428889 -0.922648 -0.338044
7 -0.384247  0.939510  2.941900 -0.493414
8 -0.929782  0.925925 -0.206577 -2.784126
9  0.286154 -1.112870 -0.544721  0.777825

In [83]:
df = pd.DataFrame(np.random.randint(0,100,size=(10, 4)), columns=list('ABCD')) #randint accepts the size
# creates an output array of size (10,4) with random integer elements between (0,100)
df #still not exactly what I am lookign for.
#I want each column to be named differently and have still relative data within its true range

    A   B   C   D
0  75  14  51  57
1  38  69  63   4
2  27  36  91  86
3   6  26  70  66
4  87  80  92  17
5  87  92  70  34
6  18  36  63  89
7  36  44  82  67
8  15  61   7  75
9   7  90  89   1

In [84]:
df = pd.DataFrame(np.random.randint(0,100,size=(10, 6)), columns=list('ABCDEF'))
df # more columns by increaing the size

    A   B   C   D   E   F
0  87  16  56  74   6  79
1   9  64  55  91  38  93
2  73  10  52  35  32  23
3  75  80  39  91  11  15
4  46  15   0  82  59  54
5  30  19  62  66   4  20
6  55  78   7  67  92  87
7  89  41  39  83  93  90
8  75  24  62  47  78  35
9  78  33  41   3  65  34

In [98]:
#now I want to name the columns
df = pd.DataFrame(np.random.randint(0,100,size=(10, 5)), columns=('shoe size','brand','color','type of shoe','price'))
df # what we have here is randomly generated numbers between 0 to 100
# 5 columns and 10 varibles
# this is not exactly what I am looking for
# I think we need more numerical values

   shoe size  brand  color  type of shoe  price
0          4     55     81             3     62
1         95     23      7            90     14
2         20      1     22            85     20
3         44     28      2            76     57
4         29      2     64            20     85
5         64     31     26            14     62
6         84     43     69            28     37
7         77     47     69            56     67
8         60     27     89            26     34
9         98     68     12            57     50

In [103]:
# Im going to focus on fist column first 'shoe size'
# As this is women size it starts from 35 to 42
#this is defining them at random but maybe i should set them from 35 to 43 
#this way I have a defined that size matters on the price and type ??
df = pd.DataFrame({"shoe size": np.random.randint(35,43,10)}) #this only gives me 10 samples of shoe 
#between 35 and 42
df

   shoe size
0         38
1         35
2         36
3         37
4         35
5         36
6         37
7         36
8         38
9         42

In [102]:
# brand so the range has to go in so the most popular sizes would b emore expensive
# also they need to link so size 35, gucci and color black boot will be more expensive
# lets have the brands

In [97]:
Colors = ['pink','blue','green','camel','grey','nude'] #set number of different colors available 
#Set that colors will be generated randomly
df = pd.DataFrame({"Colors": np.random.choice(Colors)})

ValueError: If using all scalar values, you must pass an index

In [87]:
https://www.shanelynn.ie/using-pandas-dataframe-creating-editing-viewing-data-in-python/

SyntaxError: invalid syntax (<ipython-input-87-804bd3655a43>, line 1)

maybe add the price when your doing the analysis?